{% load static %}

<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" type="text/css" href="{% static 'styles.css' %}" />
        <title>Adding items</title>
        <script defer>
            function resetForm() {
                document.getElementById("formContainer").reset();
                alert("Item added");
            }
        </script>
    </head>
    <body>
        <div id="navbar">
            <h3>
                <a href="/home">Fakijiji</a>
                <a href="/items" style="margin-left: 1em; font-weight: normal">Items</a>
            </h3>
            <div id="right">
                <p class="rightitem" style="cursor: default">Balance: {{ userprofile.balance }}$</p>
                <a class="rightitem" href="/">Sign out</a>
                <a class="rightitem" href="/items/additems/">Add Item</a>
                <a href="/profile">
                    <img id="profile" src="{% static userprofile.avatar %}" alt="" />
                </a>
                {% if userprofile == None %}
                <a>
                    <img id="profile" src="{% static 'avatar/defaultavatar.png' %}" alt="" />
                </a>
                {% endif %}
            </div>
        </div>
        <button id="back" onclick="window.location.href='/items/'">Back</button>
        <div id="header" class="small">
            <div>
                <h1>Adding items</h1>
            </div>
        </div>
        <div id="formContainer">
            <form enctype="multipart/form-data" method="post">
                {% csrf_token %} {{ form }}
                <button class="button" type="submit" value="Add Item" onclick="resetForm()">Add Item</button>
                <button class="button" type="reset" value="Reset">Reset</button>
            </form>
        </div>
    </body>
</html>
