{% load static %}

<html>
    <head>
        <title>Buy item</title>
        <link rel="stylesheet" type="text/css" href="{% static 'styles.css' %}" />
        {% if sufficientBalance == False %}
        <script defer>
            alert("You do not have sufficient balance to buy this item.\nPlease add $");
            window.location.href = "/profile/addBalance/";
        </script>
        {% endif %}
    </head>
    <body>
        <div id="navbar">
            <h3>
                <a href="/home">Fakijiji</a>
                <a href="/items" style="margin-left: 1em; font-weight: normal">Items</a>
            </h3>
            <div id="right">
                <p class="rightitem" style="cursor: default">Balance: {{ userprofile.balance }}$</p>
                <a class="rightitem" href="/">Sign out</a>
                <a class="rightitem" href="/items/additems/">Add Item</a>
                <a href="/profile">
                    <img id="profile" src="{% static userprofile.avatar %}" alt="" />
                </a>
                {% if userprofile == None %}
                <a>
                    <img id="profile" src="{% static 'avatar/defaultavatar.png' %}" alt="" />
                </a>
                {% endif %}
            </div>
        </div>
        <form method="post">
            {% csrf_token %}
            <p>Are you sure you want to buy {{ item.title }} for {{item.price}}$?</p>
            <input type="submit" value="Confirm" />
        </form>
    </body>
</html>
