{% load static %}

<!DOCTYPE html>
<html>
    <head>
        <title>Customer</title>
        <link rel="stylesheet" type="text/css" href="{% static 'styles.css' %}" />
        <script defer>
            function viewitem(item) {
                print("test");
            }
        </script>
    </head>
    <body>
        <div id="navbar">
            <h3>
                <a href="/home">Fakijiji</a>
                <a href="/items" style="margin-left: 1em; font-weight: normal">Items</a>
            </h3>
            <div id="right">
                <p class="rightitem" style="cursor: default">Balance: {{ userprofile.balance }}$</p>
                <a class="rightitem" href="/">Sign out</a>
                <a class="rightitem" href="/items/additems/">Add Item</a>
                <a href="/profile">
                    <img id="profile" src="{% static userprofile.avatar %}" alt="" />
                </a>
                {% if userprofile == None %}
                <a>
                    <img id="profile" src="{% static 'avatar/defaultavatar.png' %}" alt="" />
                </a>
                {% endif %}
            </div>
        </div>
        <h2>Customer | Signed in as {{ username }}</h2>
        {% if user.is_authenticated %} {% block page_content %}
        <h2 id="page">Items Page</h2>
        <br />
        <form method="post">
            {% csrf_token %}
            <div style="display: inline-block">
                <input type="text" placeholder="Search..." name="search" />
                <button type="submit">Search</button>
            </div>
        </form>
        <div class="itemsscroll">
            <div class="items">
                {% for item in items %}
                <div class="card">
                    <div>
                        <a href="{% url 'item:view_item' item.id %}">
                            <img class="card-img-top" src="{% static item.img %}" />
                        </a>
                    </div>
                    <div class="card-body">
                        <h4 class="card-title">{{ item.title }} <span class="sold">{{ item.sold|yesno:"Sold,Not Sold" }}</span></h4>
                        <p class="card-text">Price: {{ item.price }}</p>
                    </div>
                    <form method="post" action="{% url 'item:like_item' item.id %}">
                        {% csrf_token %}
                        <button class="like" type="submit" name="like" value="{{ item.id }}">like &lt;3 {{ item.likes }}</button>
                    </form>
                </div>
                {% endfor %}
            </div>
        </div>
        {% endblock %} {% else %}
        <button onclick="window.location.href='/home/login'">Login</button>
        {% endif %}
    </body>
</html>
