{% load static %}

<!DOCTYPE html>
<html>
    <head>
        <title>Guest</title>
        <link rel="stylesheet" type="text/css" href="{% static 'styles.css' %}" />
        <script defer>
            function myFunction(item) {
                alert("accesing item" + item);
            }
            function search(name) {}
        </script>
    </head>
    <body>
        <div id="navbar">
            <h3><a href="/home">Fakijiji</a></h3>
            <p>Neil Fisher, Christian Bula, Jei wen Wu, Mate Barabas made with love ❤️ by team Dyson</p>
            <div id="right">
                <a href="/profile">
                    <a class="rightitem" href="/home">Sign in</a>
                    <img id="profile" src="{% static 'avatar/defaultavatar.png' %}" alt="" />
                </a>
            </div>
        </div>
        <h1>Guest Items!</h1>
        <h4 style="margin: 0">You must be signed in to interact with the items</h4>
        {% block page_content %}
        <h2>Items</h2>
        <br />
        <form method="post">
            {% csrf_token %}
            <div style="display: inline-block">
                <input type="text" placeholder="Search..." name="search" />
                <button type="submit">Search</button>
            </div>
        </form>
        <div class="itemsscroll">
            <div class="items">
                {% for item in items %}
                <div class="card">
                    <div>
                        <a href="{% url 'item:view_item' item.id %}">
                            <img class="card-img-top" src="{% static item.img %}" />
                        </a>
                    </div>
                    <div class="card-body">
                        <h4 class="card-title">{{ item.title }} <span class="sold">{{ item.sold|yesno:"Sold,Not Sold" }}</span></h4>
                        <p class="card-text">Price: {{ item.price }}</p>
                    </div>
                    <form method="post" action="{% url 'item:like_item' item.id %}">
                        {% csrf_token %}
                        <button class="like" type="submit" name="like" value="{{ item.id }}">like &lt;3 {{ item.likes }}</button>
                    </form>
                </div>
                {% endfor %}
            </div>
        </div>
        {% endblock %}
    </body>
</html>
