{% load static %}

<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" type="text/css" href="{% static 'styles.css' %}" />
        <title>Item</title>
        <script defer></script>
    </head>
    <body>
        <div id="navbar">
            <button id="back" onclick="window.location.href='/items/'">Back</button>
            <h3>
                <a href="/home">Fakijiji</a>
                <a href="/items" style="margin-left: 1em; font-weight: normal">Items</a>
            </h3>
            <div id="right">
                <p class="rightitem" style="cursor: default">Balance: {{ userprofile.balance }}$</p>
                <a class="rightitem" href="/">Sign out</a>
                <a class="rightitem" href="/items/additems/">Add Item</a>
                <a href="/profile">
                    <img id="profile" src="{% static userprofile.avatar %}" alt="" />
                </a>
                {% if userprofile == None %}
                <a>
                    <img id="profile" src="{% static 'avatar/defaultavatar.png' %}" alt="" />
                </a>
                {% endif %}
            </div>
            </div>
        </div>
        <h2>{{ item.title }}</h2>
        <img id="image" class="card-img-top" style="height: 500px; width: auto; margin: 1em" src="{% static item.img %}" />
        <div id="infoContainer" class="itemInfo">
            <div id="price">Price: {{ item.price }}</div>
            <div id="likes">Likes: {{ item.likes }}</div>
            <div id="ratings">Rating: {{ item.rate }}</div>
            <div id="sold">Sold: {{ item.sold|yesno:"Sold,Not Sold" }}</div>
            <div id="user">Owner: {{ item.user }}</div>
            <div id="description">Description: {{ item.description }}</div>
        </div>
        <div>
            <form method="post" action="{% url 'item:like_item' item.id %}">
                {% csrf_token %}
                <button class="like" type="submit" name="like" value="{{ item.id }}">like &lt;3 {{ item.likes }}</button>
            </form>
            <br>
            <form method="post" action="{% url 'item:rate_item' item.id %}" value="{{ item.id }}">
                {% csrf_token %}
                <div style="display: inline-flex; flex-direction: row;">
                    <label for="rate">Rate Item: </label>
                    <div style="display: flex; flex-direction: column;">
                        <p style="margin: 0; line-height: 10%;">{{ item.rate }}</p>
                        <input class="like" type="range" name="rate" step="0.5" value="{{ item.rate }}" min="0.0" max="5.0">
                    </div>
                    <button class="like" type="submit" name="ratebtn" value="{{ item.id }}">Rate</button>
                </div>
            </form>
        </div>
        {% if item.sold == False %}
            {% if user.id == item.user_id %}
            <a class="edit" href="{% url 'item:modify_item' item.id %}">Modify</a>
            <a class="edit" href="{% url 'item:delete_item' item.id %}">Delete</a>
            {% elif userprofile != None %} 
            <a class="edit" href="{% url 'item:buy_item' item.id %}">Buy</a>
            {% else %}
            <a class="edit" href="/home/">Login to buy</a>
            {% endif %}
        {% endif %}
    </body>
</html>
