{% load static %}

<html>
    <head>
        <title>Modify Item</title>
        <link rel="stylesheet" type="text/css" href="{% static 'styles.css' %}" />
    </head>
    <body>
        <div id="navbar">
            <h3>
                <a href="/home">Fakijiji</a>
                <a href="/items" style="margin-left: 1em; font-weight: normal">Items</a>
            </h3>
            <div id="right">
                <p class="rightitem" style="cursor: default">Balance: {{ userprofile.balance }}$</p>
                <a class="rightitem" href="/">Sign out</a>
                <a class="rightitem" href="/items/additems/">Add Item</a>
                <a href="/profile">
                    <img id="profile" src="{% static userprofile.avatar %}" alt="" />
                </a>
                {% if userprofile == None %}
                <a>
                    <img id="profile" src="{% static 'avatar/defaultavatar.png' %}" alt="" />
                </a>
                {% endif %}
            </div>
        </div>
        <div id="formContainer">
            <h3>{{ item.title }}</h3>
            <form method="post" enctype="multipart/form-data">
                {% csrf_token %} {{ form }}
                <input type="submit" value="Modify" />
            </form>
        </div>
    </body>
</html>
