<h3>Password reset</h3>

<p>Forgotten your password? Enter your email address below, and we’ll email instructions for setting a new one.</p>

<form method="post">
    {% csrf_token %} {{form}}
    <input type="Submit" name="Send email" />
</form>
