{% load static %}

<html>
    <head>
        <title>Profile</title>
        <link rel="stylesheet" type="text/css" href="{% static 'styles.css' %}" />
        <script defer>
            function showUpdateAvatar(item) {
                var x = document.getElementById("formContainer");
                if (x.style.display === "none") {
                    x.style.display = "block";
                } else {
                    x.style.display = "none";
                }
            }
        </script>
    </head>
    <body>
        <div id="navbar">
            <h3>
                <a href="/home">Fakijiji</a>
                <a href="/items" style="margin-left: 1em; font-weight: normal">Items</a>
            </h3>
            <div id="right">
                <p class="rightitem" style="cursor: default">Balance: {{ userprofile.balance }}$</p>
                <a class="rightitem" href="/">Sign out</a>
                <a class="rightitem" href="/items/additems/">Add Item</a>
                <a href="/profile">
                    <img id="profile" src="{% static userprofile.avatar %}" alt="" />
                </a>
                {% if userprofile == None %}
                <a>
                    <img id="profile" src="{% static 'avatar/defaultavatar.png' %}" alt="" />
                </a>
                {% endif %}
            </div>
        </div>
        <div id="profileTaskBar">
            <button class="button" onclick="window.location.href='../items'">Return</button>
        </div>
        <div>
            <div id="profileChart">
                <div id="avatarContainer">
                    <div id="avatar">
                        <img src="{% static userprofile.avatar %}" alt="" />
                    </div>
                </div>
                <div id="infoContainer">
                    <div>
                        <p>Username : {{ user.username }}</p>
                    </div>
                    <div>
                        <p>Email: {{ user.email }}</p>
                    </div>
                    <div>
                        <p>Name: {{ user.first_name }}</p>
                    </div>
                    <div>
                        <p>Last name: {{ user.last_name }}</p>
                    </div>
                    <div>
                        <p>DOB: {{ userprofile.date_of_birth }}</p>
                    </div>
                    <div>
                        <p>Balance: {{ userprofile.balance }}$</p>
                    </div>
                </div>
            </div>
        </div>
        <div>
            <button onclick="window.location.href='addBalance'">Add balance</button>
            <button onclick="window.location.href='resetPassword'">Reset Password</button>
            <button onclick="showUpdateAvatar()">Update avatar</button>
        </div>
        <div id="formContainer" style="display: none">
            <form method="post" enctype="multipart/form-data">
                {% csrf_token %} {{ form }}
                <input type="submit" value="Update" />
            </form>
        </div>
    </body>
</html>
