{% load static %}

<html>
    <head>
        <title>Profile</title>
        <link rel="stylesheet" type="text/css" href="{% static 'styles.css' %}" />
    </head>
    <body>
        <div id="navbar">
            <h3>
                <a href="/home">Fakijiji</a>
                <a href="/items" style="margin-left: 1em; font-weight: normal">Items</a>
            </h3>
        </div>
        <div id="formContainer">
            <form method="post" enctype="multipart/form-data">
                {% csrf_token %} {{ form }}
                <input type="submit" value="Reset password" />
            </form>
        </div>
    </body>
</html>
