{% load static %}
<html>
    <head>
        <link rel="stylesheet" type="text/css" href="{% static 'styles.css' %}" />
    </head>
    <body>
        <div id="navbar">
            <h3>
                <a href="/home">Fakijiji</a>
                <a href="/items" style="margin-left: 1em; font-weight: normal">Items</a>
            </h3>
            <div id="right">
                <a>
                    <img id="profile" src="{% static 'avatar/defaultavatar.png' %}" alt="" />
                </a>
            </div>
        </div>
        <title>Python project</title>
        <div>
            <div id="header">
                <div>
                    <h1>- Welcome to Fakejiji™ -</h1>
                    <h2>~ The freedom of scamming ~</h2>
                </div>
            </div>
            <h2>Login</h2>
        </div>
        <div>
            <button class="button" onclick="window.location.href='login/'">Log In</button>
            <button class="button" onclick="window.location.href='signup/'">Sign Up</button>
        </div>
    </body>
</html>
