{% load static %}

<html>
    <head>
        <title>Login</title>
        <link rel="stylesheet" type="text/css" href="{% static 'styles.css' %}" />
    </head>
    <body>
        <div id="navbar">
            <h3>
                <a href="/home">Fakijiji</a>
                <a href="/items" style="margin-left: 1em; font-weight: normal">Items</a>
            </h3>
            <div id="right">
                <a>
                    <img id="profile" src="{% static 'avatar/defaultavatar.png' %}" alt="" />
                </a>
            </div>
        </div>
        <div id="header" class="small">
            <div>
                <h1>This is the login page</h1>
            </div>
        </div>
        <div id="formContainer">
            <form method="post">
                {% csrf_token %} {{ form }}
                <input type="submit" value="Login" />
                {% if nouser is True %}
                <label style="background-color: violet; font-weight: bold; padding: 1em; border-radius: 1vw">User does not exist!</label>
                {% endif %}
            </form>
        </div>
        <button onclick="window.location.href='/home/'">Back</button>
    </body>
</html>
