{% load static %}

<!DOCTYPE html>
<html>
    <head>
        <title>Signup</title>
        <link rel="stylesheet" href="{% static 'styles.css' %}" />
    </head>
    <body>
        <div id="navbar">
            <h3>
                <a href="/home">Fakijiji</a>
                <a href="/items" style="margin-left: 1em; font-weight: normal">Items</a>
            </h3>
            <div id="right">
                <a>
                    <img id="profile" src="{% static 'avatar/defaultavatar.png' %}" alt="" />
                </a>
            </div>
        </div>
        <div id="header" class="small">
            <div id="header">
                <h1>Join the scamming!</h1>
            </div>
        </div>
        <div id="formContainer">
            <form method="post" enctype="multipart/form-data">
                {% csrf_token %} {{ form }}
                <input type="submit" value="Register" onclick="window.location.href='/items/'" />
            </form>
        </div>
        <button onclick="window.location.href='/home/'">Back</button>
    </body>
</html>
