/* <script defer>
            function myFunction(item) {
                alert("accesing item" + item);
            }

            // s = document.createElement('style');
            // document.querySelector('head').appendChild(s);
            // s.append("li {background-color: rgb({{ randomcolourrange | random }}, {{ randomcolourrange | random }}, {{ randomcolourrange | random }});");
        </script> */

html {
    font-family: Arial, Helvetica, sans-serif;
    width: 100%;
    height: 100%;
}

h1 {
    font-size: 4em;
    margin: 0;
    margin-top: 0.5em;
}

h2 {
    font-size: 2.5em;
    margin: 0;
    margin-top: 0.5em;
}

#page {
    padding: 0.25em;
    background-color: violet;
    border-radius: 0.5em;
}

#navbar {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: center;
    background-color: pink;
    min-height: 6vh;
    min-width: 100%;
}
#navbar > p {
    margin: auto;
    text-align: center;
    margin-left: 2vw;
}
#navbar > h3 {
    user-select: none;
    margin-right: auto;
    margin-left: 2vw;
    text-decoration: none;
}
#navbar > h3 > a:hover {
    text-decoration: none;
}
#navbar > #right {
    height: 100%;
    margin-right: 2vw;
}
#navbar .rightitem {
    font-weight: bolder;
    color: rgb(108, 39, 236);
    margin-right: 0.75em;
    border: 2px solid violet;
    padding: 0.25em;
    border-radius: 0.5em;
    background-color: rgba(238, 130, 238, 0.233);
}
#navbar a {
    text-decoration: none;
}
#navbar a:hover {
    text-decoration: underline;
}
#navbar a,
#navbar #profile {
    object-fit: cover;
    max-height: calc(6vh * 0.8);
}

#header {
    background-image: url("banner.jpg");
    background-position: center;
    margin: 2em;
    border-radius: 2em;
    padding: 2em;
    box-shadow: inset 0 0 1em rgba(255, 255, 255, 0.9), 0 0 0.25em white;
}

#header > div {
    box-shadow: inset 0 0 1em rgba(255, 255, 255, 0.9);
    user-select: none;
    border-radius: 2em;
    color: white;
    background-color: rgba(43, 43, 43, 0.8);
    padding: 2em;
}

body {
    margin: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: linear-gradient(135deg, rgb(110, 250, 231), rgb(188, 241, 215));
    background-repeat: no-repeat;
    background-position: top;
    background-size: 100% 1000%;
    background-color: rgb(188, 241, 215);
}

div {
    display: inherit;
    flex-direction: inherit;
    justify-content: inherit;
    align-items: inherit;
}

.button {
    background: royalblue;
    color: white;
    cursor: pointer;
    font-size: 2em;
    padding: 1rem;
    border: 0;
    transition: all 0.5s;
    border-radius: 0.5em;
    width: auto;
    position: relative;
    width: 200px;
    margin: 0.25em;
}

button {
    background: royalblue;
    color: white;
    cursor: pointer;
    padding: 0.5em;
    border: 0;
    border-radius: 0.5em;
    position: relative;
    margin: 0.25em;
}

#back {
    position: absolute;
    top: 6vh;
    align-self: flex-start;
    width: 5em;
    height: 3em;
    margin: 1.5em;
}

img {
    border-radius: 1vw;
}

#formContainer {
    margin: 1em;
    background-color: pink;
    /* box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%), 0 6px 20px 0 rgb(0 0 0 / 19%); */
    border-color: violet;
    border-style: solid;
    border-width: 2px;
    border-radius: 20px;
    padding: 2em;
}

#formContainer:hover,
#formContainer:focus {
    box-shadow: inset 0 0 15px 0px pink, 0 0 15px 0px pink;
    transition: box-shadow 200ms linear;
}

form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

form > *:not(button) {
    width: 100%;
    box-sizing: border-box;
    align-self: flex-start;
}

input {
    border: 1px solid violet;
    border-radius: 5px;
    outline: none;
    padding: 0.25em;
    margin-bottom: 1em;
}

th {
    height: 100px;
    width: 100px;
}

.items {
    width: 1250px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.itemsscroll {
    width: 100%;
    margin-top: 2vh;
    overflow-y: scroll;
}

.card {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: center;
    margin: 0.75em;
    margin-top: 1em;
    background-color: rgba(0, 0, 0, 0.25);
    padding: 1em;
    border-radius: 1em;
    min-height: 325px;
}

.card-img-top {
    width: 250px;
    height: 170px;
}

.card-title {
    max-width: 250px;
    margin-bottom: 0;
    line-height: 140%;
}

.sold {
    background-color: violet;
    border-radius: 0.5vw;
    padding: 4px;
    padding-bottom: 3px;
}

#profileChart {
    width: 300px;
    height: 400px;
    margin-bottom: 30px;
    background-color: pink;
    padding: 1em 0 0.8em 0;
}

#profileTaskBar {
    background-color: violet;
    width: 100%;
    height: 80px;
}
#profileChart {
    margin-top: 30px;
    border-radius: 20px;
    border-color: violet;
    border-style: solid;
}

#avatar {
    background-color: teal;
    margin-top: 10px;
    border-radius: 50px;
    width: 80px;
    height: 80px;
}

#infoContainer > div {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: none;
}
#infoContainer > div:not(:last-child) {
    border-bottom: 1px solid rgb(121, 121, 121);
}
#infoContainer div {
    align-items: flex-start;
}

.itemInfo > div {
    margin-bottom: 1em;
}

#avatar > img {
    border-radius: 50vw;
    width: 100%;
    height: 100%;
    object-fit: cover;
    user-select: none;
    outline: none;
    border: none;
}

.edit {
    background: royalblue;
    color: white;
    cursor: pointer;
    padding: 0.5em;
    border-radius: 0.5em;
    margin: 0.25em;
    text-decoration: none;
}

input[type="range"] {
    margin: 0.25em;
}
